<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    </head>
    <body style="padding-top: 50px" ng-app="app">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    Sign in
                </div>
                <div class="card-block" ng-controller="AppCtrl as ctrl">
                    <div class="alert alert-success" role="alert" ng-if="ctrl.isAuthorized">
                        <strong>Well done!</strong> You've entered a valid login credentials.
                    </div>
                    <div class="alert alert-danger" role="alert" ng-if="ctrl.hasError">
                        <strong>Oh snap!</strong> Change a few things up and try submitting again.
                    </div>
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input ng-model="ctrl.model.email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input ng-model="ctrl.model.password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary" ng-click="ctrl.signIn()">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        
        <script>
        	var app = angular.module('app', []);
        	app.controller('AppCtrl', function() {
        		var _this = this;
        		
        		_this.model = {};
        		_this.isAuthorized = false;
        		_this.hasError = false;
        		_this.signIn = signIn;
        		
        		function signIn() {
        			if(_this.model.email === 'email@domain.com' && _this.model.password === 'qwerty') {
        				_this.hasError = false;
        				_this.isAuthorized = true;
        			} else {
        				_this.hasError = true;
        				_this.isAuthorized = false;
        			}
        		}
        	});
        </script>
  </body>
</html>